@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Train+One&display=swap');
*{
    box-sizing: border-box;
}
body{
    background-color: #ffffff;
    background-image: url(assets/covid.png);
}

.fa-virus{
    color: brown;
}

h1{
    font-size: 50px;
    text-align: center;
    margin: 50px;
    font-family: 'Train One', cursive;
    color: rgb(34, 49, 108);
}
.time-to-read{
    margin: 5px 20%;
    color: grey;
}
h2{
    text-align: center;
}

.container{
    margin: 0 20%;
    font-family: 'Montserrat', sans-serif;
}

.fa-syringe{
    color: rgb(223, 67, 47);
}

section{
    background-color: #CDE5EB;
    padding: 20px;
    border-bottom: solid 1px #1B3361;
    margin: 20px;
}

#img-vaccins img{
    width: 100%;
    
}

.block-img-vaccins{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#video a{
    text-decoration: none;
    color: black;
}

footer {
    
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
footer img{
    width: 100%;
    margin: 0 20%;
}

@media (max-width: 700px) { 
    .container{
        margin: 0 2%;
    }
    .block-img-vaccins{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    footer img{
        width: 100%;
    }
 }
