@import url("https://fonts.googleapis.com/css2?family=Train+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Train+One&display=swap");
* {
	box-sizing: border-box;
}
body {
	background-color: #ffffff;
	background-image: url(assets/covid.png);
}

.navbar {
	background-color: #cde5eb !important;
}
.btn-outline-success {
	color: #1b3361;
	border: solid 1px #1b3361;
}
.btn-outline-success:hover {
	color: #ffffff;
	background-color: #1b3361;
}
.fa-virus {
	color: brown;
}

h1 {
	font-size: 50px;
	text-align: center;
	margin: 40px;
	font-family: "Train One", cursive;
	color: rgb(34, 49, 108);
}
.time-to-read {
	margin: 5px 22%;
	color: #1b3361;
}
h2 {
	text-align: center;
	margin-bottom: 20px;
}

.containers {
	margin: 0 20%;
	font-family: "Montserrat", sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.fa-syringe {
	color: rgb(223, 67, 47);
}
#où a {
	text-decoration: none;
}

#où a p {
	color: #ffffff;
	background: #1b3361;
	border: solid 2px #1b3361;
	text-align: center;
	padding: 5px;
	border-radius: 20px;
	width: 40%;
	margin: 0 auto;
	margin-top: 50px;
	transition: all 0.2s;
}
#où a p:hover {
	color: #1b3361;
	background: #ffffff;
}

section {
	background-color: #cde5eb;
	padding: 20px;
	border-bottom: solid 3px #1b3361;
	border-radius: 10px;
	margin: 20px;
	transition: all 0.2s;
}
section:hover {
	box-shadow: 0 0 1em #1b3361;
}

ul {
	list-style-type: none;
}

#img-vaccins img {
	width: 100%;
}

.block-img-vaccins {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#video a {
	text-decoration: none;
	color: black;
}

footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
footer img {
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
footer {
	text-align: center;
}

@media (max-width: 700px) {
	.containers {
		margin: 0 2%;
	}
	.block-img-vaccins {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	footer img {
		width: 100%;
	}
}
